[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment={{ lookup('aws_ssm', 'immutable.elasticache.REDIS_HOST', region='us-east-1' ) }}
Environment={{ lookup('aws_ssm', 'immutable.cart.CATALOGUE_HOST', region='us-east-1' ) }}
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target